---
import "./card.css";
const {
  webLink,
  img,
  title,
  description,
  project,
  linkProject,
  skills = [],
} = Astro.props;
---

<div class="card">
  <div class="content-img-projects">
    <img class="img" src={img} alt="Img Project" />
  </div>
  <div class="content-text">
    <a class="title" href={webLink}>{title}</a>
    <p class="description">{description}</p>
  </div>
  <div class="content-skills">
    <a class="title-project" href={linkProject} target="_blank">{project}</a>
    {skills.map((s: string) => <span class="skills">{s}</span>)}
  </div>
</div>
